.addPaymentBtn {
    width: fit-content;
    padding: 8px 16px;
}

.paymentTypes {
    display: flex;
    flex-direction: column;
}

.dialog {
    top: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > label {
        display: flex;
        justify-content: space-between;
        gap: 4px;
    }
}

.controls {
    display: flex;
    align-self: flex-end;
    gap: 8px;
}
