.dialog {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.paymentTypes {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    align-self: flex-end;
    gap: 8px;
}

@media (max-width: 768px) {
    .dialog {
        width: calc(100vw - 40px);
        height: calc(100vh - 40px);
        box-sizing: border-box;
    }
}
