.dialog {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.paymentTypes {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    align-self: flex-end;
    gap: 8px;
}
