.paymentTypes {
    display: flex;
    flex-direction: column;
}

.dialog {
    top: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.controls {
    display: flex;
    align-self: flex-end;
    gap: 8px;
}
