.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    display: flex;
    gap: 16px;
}

.button {
    display: flex;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
}

.button input {
    display: none;
}

.button:has(input:checked) {
    outline: 3px solid #007bff;
    outline-offset: -3px;
}

.amounts {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.date {
    width: 75px;
}

.income {
    color: green;
}

.outcome {
    color: red;
}
