.wrapper {
    display: grid;
    grid-template-columns: 32px 50px 124px 125px 150px 150px 125px 32px 32px;
    grid-template-rows: 32px;
    line-height: 20px;
}

.cell {
    align-self: center;
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    display: grid;
    padding: 0 48px;
    grid-template-rows: 32px;
    background-color: rgba(0, 0, 0, 0.05);
    line-height: 20px;
    width: 820px;
    box-sizing: border-box;
}

.rightAligned {
    text-align: right;
}
