.wrapper {
    display: grid;
    grid-template-columns: 32px 32px 128px 128px 128px 128px 32px 32px;
    grid-template-rows: 32px;
    line-height: 20px;
}

.cell {
    align-self: center;
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    display: flex;
    width: 640px;
    height: 32px;
    padding: 0 48px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    line-height: 20px;
    box-sizing: border-box;
}

.separatorButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    color: #007bff;
    border: none;
    line-height: 20px;
    font-size: 16px;
}

.separatorButton:hover {
    color: #015dc0;
}

.rightAligned {
    text-align: right;
}

.income {
    color: green;
}
