.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 32px;
    row-gap: 8px;
    flex-wrap: wrap-reverse;
}

.headerActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.footer {
    position: sticky;
    display: flex;
    bottom: 32px;
    row-gap: 8px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-bottom: 16px;
    padding-top: 16px;
    margin-top: auto;
}

.buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
