.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 12px;
    flex-wrap: wrap-reverse;
}

.registration_warning {
    display: flex;
    padding: 24px;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
