.text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 4px;
    gap: 4px;
    z-index: 10;
}

.row {
    display: grid;
    column-gap: 8px;
    padding: 0 4px;
    cursor: pointer;
    border-radius: 4px;
    grid-template-columns: 125px 125px 50px;
}

.categoryRow {
    display: grid;
    column-gap: 8px;
    align-items: center;
    padding: 0 4px;
    border-radius: 4px;
    grid-template-columns: 136px 100px 64px;
}

.actions {
    display: inline-flex;
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.money {
    text-align: right;
}

.titleBlock {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title {
    font-size: 20px;
}

@media (max-width: 768px) {
    .wrapper {
        -webkit-box-shadow: 0px 0px 100px 100px rgba(70, 70, 70, 0.2);
        -moz-box-shadow: 0px 0px 100px 100px rgba(70, 70, 70, 0.2);
        box-shadow: 0px 0px 100px 100px rgba(70, 70, 70, 0.2);
    }
}

@media (hover: hover) {
    .row:hover {
        background-color: #f2f1f1;
    }
}
