.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.button {
    padding: 8px 16px;
}

.error {
    color: tomato;
}
